*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	background-color: #FFB400;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.container {
	transform: rotate(90deg) translate3d(13vh, 73vw, 0);
	width: 100vh;
}

.poppy-image{
	position: absolute;
	border-radius: 100%;
	left: 30%;
	height: 250px;
	width: 250px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 6vw;
	width: 100%;
}

.line {
	font-weight: 600;
    font-family: sans-serif;
    text-transform:uppercase;
    display:block;
    color:  #FFB400;
    text-align: center;
    width:  116%;
    padding: 0 12% 0 5%;
}

.line1 {
	background-color: #FFFFD9;
}
.line2 {
	background-color: #FF6138;
}
.line3 {
	background-color: #00A388;
}
.line4 {
	background-color: #005AB3;
}
.line5 {
	background-color: #8100FF;
}

@media screen and (min-width: 420px) {
	.container {
		transform: rotate(90deg) translate3d(23vh, 31vw, 0);
	}

	.poppy-image {
		left: 48%;
		height: 350px;
		width: 350px;
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size:  7vw;
	}

	.container {
		transform: rotate(45deg) translate3d(-4vw, 13vw, 0);
		width: 100%;
	}

	.poppy-image {
		left: 65%;
		height: 350px;
		width: 350px;
	}
}
